<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Movie Quiz</h1>
    <div class="movie-list">
        {% for movie in movies %}
            <div class="movie-item">
                <div class="thumbnail-container">
                    <img src="{{ movie.thumbnail }}" alt="Movie Thumbnail" class="thumbnail">
                </div>
                <h2>{{ movie.movie_title }}</h2>
                <a href="{{ url_for('quiz', video_id=movie.video_id) }}" class="quiz-link">Take Quiz</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
